#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;          /* 最小高度为视口高度 */
  width: 100vw;               /* 宽度为视口宽度 */
  display: flex;              /* 启用flex布局 */
  flex-direction: column;     /* 垂直排列子元素 */
  /* 背景图片设置 */
  background-image: url('/src/assets/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
}
